.productDetails-main {
  width: 100vw;
  height: fit-content;
}
.proDet-top {
  width: 100%;
  height: 90vh;
  padding: 7rem 3rem 2rem 3rem;
  /* background-color: lightgreen; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-left {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-left img {
  height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.product-slider {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.product-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}
.top-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}
.top-right h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #0c45ab;
}
.top-right p {
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem .5rem;
  color: gray;
}
.top-right h2 {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 2rem 0 1rem 0;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-right h2 span {
  letter-spacing: 0;
  font-weight: 400;
  font-size: 1.4rem;
  text-decoration: line-through;
}
.top-right h3 {
  font-size: 1rem;
  font-weight: 400;
}
.top-right h4{
    font-size: 1.2rem;
    padding-top: 4rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.quantity{
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}
.quantity > h5{ 
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
.top-right button {
    margin-top: 2.5rem;
    padding: 1rem ;
    font-size: 1.3rem;
    text-transform: capitalize;
    background-color: #0c45ab;
    border-radius: 2rem;
    border: none;
    color: white;
}
.top-right button:hover{
    transform: scale(.99);
}
.top-right button:active{
    transform: scale(.98);
}
.proDet-bottom{
    margin-top: 2rem;
    width: 100%;
    height: fit-content;
    padding: 3rem;
}
.proDet-bottom h1{
    font-size: 3rem;
    text-transform: capitalize;
    color: #0c45ab;
    text-align: center;
}
.bot-top{
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}
.bot-top-inner{
    width: 47%;
}
.bot-top-inner h2{
    margin-bottom: .2rem;
    color: #0c46abcb;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.bot-top-inner p{
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
}